<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1" package="com.companyname.TodoList" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="TodoList.Android"></application>
</manifest>